
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    padding: 40px 20px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

header h2 {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background: #0056b3;
}

section {
    padding: 20px;
    max-width: 50%;
    margin-left: 25%;
}

section h3 {
    margin-bottom: 15px;
}

.box {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #000000
}
.box:hover {
    box-shadow: 0 2px 5px #ca6a11;
}
footer {
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
}

/*------------------------------------------------style for Stats------------------------------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
select {
    padding: 10px;
    border-radius: 4px;
}

/*------------------------------------------------style for help------------------------------------------------------------*/
.help ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.help li {
    color: #412222;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px; 
    line-height: 1.5;
}

.compare-form {
    width: 100%;
}